@import 'tailwindcss';

/* =========================== an inline copy of @sveltevietnam/css =========================== */
/* FIXME: import when that package is published */
@custom-media --mobile (width < 48rem); /* 768px */
@custom-media --tablet (width >= 48rem); /* 768px */
@custom-media --desktop (width >= 64rem); /* 1024px */
@custom-media --widescreen (width >= 80rem); /* 1280px */

@custom-media --tablet-to-desktop (48rem <= width < 64rem);
@custom-media --desktop-to-widescreen (64rem <= width < 80rem);

@custom-media --high-contrast (prefers-contrast: more);

@custom-variant light {
	@media light {
		@slot;
	}
}

@custom-variant dark {
	@media dark {
		@slot;
	}
}

@theme static {
	--color-sand-50: oklch(98.83% 0.01 75deg);
	--color-sand-100: oklch(96.48% 0.012 75deg);
	--color-sand-200: oklch(91.8% 0.012 75deg);
	--color-sand-300: oklch(85.35% 0.012 75deg);
	--color-sand-400: oklch(78.91% 0.012 75deg);
	--color-sand-500: oklch(72.66% 0.012 75deg);
	--color-sand-600: oklch(61.33% 0.012 75deg);
	--color-sand-700: oklch(52.34% 0.012 75deg);
	--color-sand-800: oklch(41.21% 0.012 75deg);
	--color-sand-900: oklch(30.27% 0.012 75deg);
	--color-sand-950: oklch(19.34% 0.012 75deg);

	/* default foreground */
	--color-on-surface: light-dark(var(--color-sand-950), var(--color-sand-50));
	--color-on-surface-subtle: light-dark(var(--color-sand-800), var(--color-sand-200));
	--color-on-surface-dim: light-dark(var(--color-sand-700), var(--color-sand-300));

	/* default background */
	--color-surface: light-dark(var(--color-sand-50), var(--color-sand-950));
	--color-surface-variant: light-dark(var(--color-sand-200), var(--color-sand-800));
	--color-surface-subtle: color-mix(in oklch, var(--color-surface) 95%, var(--color-on-surface) 5%);

	/* elements */
	--color-placeholder: var(--color-sand-500);
	--color-link: light-dark(oklch(53.09% 0.167 40deg), oklch(85.32% 0.083 40.04deg));

	/* outline */
	--color-outline: light-dark(var(--color-sand-400), var(--color-sand-700));
	--color-outline-subtle: light-dark(var(--color-sand-200), var(--color-sand-800));
	--color-outline-focus: light-dark(oklch(61.97% 0.113 220.2deg), oklch(74.76% 0.137 220.51deg));

	/* primary */
	--color-primary: light-dark(oklch(70.28% 0.195 40.05deg), oklch(68.91% 0.207 39.93deg));
	--color-primary-on-surface: light-dark(oklch(32.71% 0.094 44.44deg), oklch(92.5% 0.04 39.3deg));
	--color-primary-surface: light-dark(oklch(96.07% 0.021 43.86deg), oklch(20.41% 0.025 40.45deg));

	/* secondary */
	--color-secondary: light-dark(oklch(71.74% 0.17 120deg), oklch(66.59% 0.158 120.14deg));
	--color-secondary-on-surface: light-dark(
		oklch(37.02% 0.088 120deg),
		oklch(95.91% 0.133 119.92deg)
	);
	--color-secondary-surface: light-dark(oklch(97.79% 0.066 120deg), oklch(24.06% 0.057 120.14deg));

	/* tertiary */
	--color-tertiary: light-dark(oklch(71.24% 0.153 280deg), oklch(71.24% 0.153 280.13deg));
	--color-tertiary-on-surface: light-dark(
		oklch(23.96% 0.145 280deg),
		oklch(92.48% 0.037 280.62deg)
	);
	--color-tertiary-surface: light-dark(oklch(93.56% 0.031 280deg), oklch(20.07% 0.121 280.53deg));

	/* status */
	--color-info-on-surface: light-dark(oklch(33.75% 0.059 212.23deg), oklch(92.31% 0.065 211.77deg));
	--color-info-on-surface-subtle: light-dark(
		oklch(77.86% 0.136 211.97deg),
		oklch(57.21% 0.1 211.93deg)
	);
	--color-info-surface: light-dark(oklch(96.44% 0.029 212.58deg), oklch(24.3% 0.043 213.15deg));
	--color-info-surface-variant: light-dark(
		oklch(94.06% 0.05 212.06deg),
		oklch(35.14% 0.061 211.53deg)
	);

	--color-success-on-surface: light-dark(oklch(33.34% 0.1 136.54deg), oklch(96.94% 0.06 136.26deg));
	--color-success-on-surface-subtle: light-dark(
		oklch(76.98% 0.232 136.66deg),
		oklch(60.07% 0.181 136.64deg)
	);
	--color-success-surface: light-dark(oklch(96.01% 0.081 135.88deg), oklch(23.96% 0.071 135.55deg));
	--color-success-surface-variant: light-dark(
		oklch(94.02% 0.127 135.84deg),
		oklch(35.09% 0.104 136.02deg)
	);

	--color-warning-on-surface: light-dark(oklch(33.99% 0.07 99.07deg), oklch(92.82% 0.101 92.34deg));
	--color-warning-on-surface-subtle: light-dark(
		oklch(79.05% 0.16 98.83deg),
		oklch(64.99% 0.133 91.35deg)
	);
	--color-warning-surface: light-dark(oklch(96.5% 0.07 98.77deg), oklch(24.42% 0.05 91.36deg));
	--color-warning-surface-variant: light-dark(
		oklch(94.9% 0.103 99.12deg),
		oklch(35.2% 0.072 91.1deg)
	);

	--color-error-on-surface: light-dark(oklch(31.5% 0.127 22.3deg), oklch(93.35% 0.033 24.58deg));
	--color-error-on-surface-subtle: light-dark(
		oklch(76.6% 0.139 22.4deg),
		oklch(67.12% 0.216 22.39deg)
	);
	--color-error-surface: light-dark(oklch(96% 0.0196 21.4deg), oklch(24.41% 0.098 22.23deg));
	--color-error-surface-variant: light-dark(
		oklch(92.9% 0.036 22.1deg),
		oklch(35.3% 0.142 22.09deg)
	);

	--color-svelte: #ef4623;
}

@theme {
	/** font family */
	--font-inter: 'Inter', var(--default-font-family);
	--font-lora: 'Lora', var(--default-font-family);
	--font-fira: 'Fira Code', var(--default-mono-font-family);

	/** font size */
	--text-2xs: 0.625rem; /* 10px */
	--text-xs: 0.75rem; /* 12px */

	/* z-index */
	--z-index-px: 1;
	--z-index-header: 50;
	--z-index-dialog: 80;
	--z-index-popup: 120;
	--z-index-overlay: 150;
	--z-index-notification: 300;

	/** border width */
	--border-width-onehalf: 1.5px;

	/* border radius */
	--radius-inherit: inherit;
	--radius-full: calc(infinity * 1px);

	/* miscellaneous */
	--leading-unset: unset;

	/** background images */
	--background-image-gradient-primary: linear-gradient(
		to bottom,
		transparent,
		var(--color-primary-surface) 10%,
		var(--color-primary-surface) 90%,
		transparent
	);
	--background-image-gradient-primary-intro: linear-gradient(
		to bottom,
		var(--color-primary-surface) 32%,
		var(--color-surface) 100%
	);

	/** shadows */
	--shadow-brutal-sm: 2px 2px var(--tw-shadow-color, currentcolor);
	--shadow-brutal: 4px 4px var(--tw-shadow-color, currentcolor);
	--shadow-brutal-lg: 8px 8px var(--tw-shadow-color, currentcolor);

	--drop-shadow-brutal-sm: 2px 2px var(--tw-shadow-color, currentcolor);
	--drop-shadow-brutal: 4px 4px var(--tw-shadow-color, currentcolor);
	--drop-shadow-brutal-lg: 8px 8px var(--tw-shadow-color, currentcolor);

	/* static spacing */
	--spacing-readable-tight: 60ch;
	--spacing-readable: 72ch;
	--spacing-readable-relaxed: 86ch;
}

/* reactive spacing */
@theme {
	--spacing-header: 3.6875rem; /* 59px */
	--spacing-section: calc(var(--spacing) * 10);
	--spacing-section-more: calc(var(--spacing) * 20);
	--spacing-intro-pad-top: calc(var(--spacing) * 20);
}

@layer base {
	:root {
		@media (--tablet) {
			--spacing-section: calc(var(--spacing) * 15);
			--spacing-section-more: calc(var(--spacing) * 28);
			--spacing-intro-pad-top: calc(var(--spacing) * 32);
		}

		@media (--desktop) {
			--spacing-header: 6.25rem; /* 100px */
			--spacing-section: calc(var(--spacing) * 20);
			--spacing-section-more: calc(var(--spacing) * 32);
			--spacing-intro-pad-top: calc(var(--spacing) * 36);
		}
	}
}

:root {
	color-scheme: light;

	@media dark {
		color-scheme: dark;
	}
}

@utility c-text-heading-page {
	@layer components {
		font-family: var(--font-lora);
		font-size: 2.25rem; /* 36px */
		font-weight: 700;
		line-height: 1.25;

		@media (--tablet) {
			font-size: 3rem; /* 48px */
		}

		@media (--desktop) {
			font-size: 4rem; /* 64px */
		}
	}
}

@utility c-text-subtitle-page {
	@layer components {
		font-size: 1.125rem; /* 18px */
		line-height: 1.5;

		@media (--tablet) {
			font-size: 1.25rem; /* 20px */
		}
	}
}

@utility c-text-heading-lg {
	@layer components {
		font-family: var(--font-lora);
		font-size: 1.875rem; /* 30px */
		font-weight: 500;
		line-height: 1.25;

		@media (--tablet) {
			font-size: 2.25rem; /* 36px */
		}

		@media (--desktop) {
			font-size: 3rem; /* 48px */
		}
	}
}

@utility c-text-heading-md {
	@layer components {
		font-family: var(--font-lora);
		font-size: 1.875rem; /* 30px */
		font-weight: 600;
		line-height: 1.25;

		@media (--tablet) {
			font-size: 2rem; /* 32px */
		}

		@media (--desktop) {
			font-size: 2.25rem; /* 36px */
		}
	}
}

@utility c-text-heading {
	@layer components {
		font-family: var(--font-lora);
		font-size: 1.875rem; /* 30px */
		font-weight: 600;
		line-height: 1.5;
	}
}

@utility c-text-title {
	@layer components {
		font-family: var(--font-lora);
		font-size: 1.5rem; /* 24px */
		font-weight: 600;
		line-height: 1.5;
	}
}

@utility c-text-title-sm {
	@layer components {
		font-family: var(--font-lora);
		font-size: 1.25rem; /* 20px */
		font-weight: 600;
		line-height: 1.5;
	}
}

@utility c-text-body-md {
	@layer components {
		font-size: 1.125rem; /* 18px */
	}
}

@utility c-text-body {
	@layer components {
		font-size: 1rem; /* 16px */
	}
}

@utility c-text-body-sm {
	@layer components {
		font-size: 0.875rem; /* 14px */
	}
}

@utility c-text-body-xs {
	@layer components {
		font-size: 0.75rem; /* 12px */
	}
}

@utility c-text-input {
	@layer components {
		position: relative;

		display: flex;
		gap: calc(var(--spacing) * 3);
		align-items: baseline;

		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
		border: 1.5px solid currentcolor;

		line-height: 1.5;

		&::placeholder {
			color: var(--color-placeholder);
		}

		&:is(label) {
			cursor: pointer;
			padding: 0 calc(var(--spacing) * 3);

			& :is(input, textarea) {
				flex: 1;
				width: 100%;
				padding-block: calc(var(--spacing) * 2);
			}
		}

		&:is(input, textarea),
		& :is(input, textarea) {
			appearance: none;
			background: transparent;
			outline: none;
		}

		&:not(input, textarea):has(input, textarea) {
			& :is(input, textarea) {
				border: none;
			}
		}

		&:has(img, svg, .i) {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: calc(var(--spacing) * 3);
			align-items: center;
		}

		&:focus-visible,
		&:focus-within,
		&:has(:is(input, textarea):focus-visible) {
			border-color: var(--color-outline-focus);
			outline: 1.5px solid var(--color-outline-focus);
			outline-offset: 1px;

			@variant user-invalid {
				border-color: var(--color-error-surface-variant);
				outline-color: var(--color-error-surface-variant);
			}
		}

		@variant user-invalid {
			border-color: var(--color-error-surface-variant);
		}

		&:is(:disabled, [disabled]:not([disabled='false'])),
		&:has(:is(input, textarea):disabled) {
			cursor: not-allowed;
			background-color: var(--color-surface-variant);

			& :is(input, textarea) {
				cursor: not-allowed;
			}

			& * {
				opacity: 0.5;
			}
		}
	}
}

@utility c-link {
	@layer components {
		--active-color: var(--color-link);
		--underline-color: currentcolor;

		will-change: background-size;

		display: inline;

		color: var(--active-color);

		background-image: linear-gradient(to right, var(--underline-color), var(--underline-color));
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 100% var(--underline-height, 1px);

		@variant not-disabled {
			@variant hover {
				animation: underline-swipe 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
			}

			@variant focus-visible {
				outline: 1.5px solid var(--color-outline-focus);
				outline-offset: 1px;
			}
		}
	}
}

@keyframes underline-swipe {
	0% {
		background-position: right bottom;
		background-size: 100% var(--underline-height, 1px);
	}

	50% {
		background-position: right bottom;
		background-size: 0 var(--underline-height, 1px);
	}

	51% {
		background-position: left bottom;
		background-size: 0 var(--underline-height, 1px);
	}

	100% {
		background-position: left bottom;
		background-size: 100% var(--underline-height, 1px);
	}
}

@utility c-link-preserved {
	@layer components {
		--duration: 400ms;
		--easing: var(--ease-in);
		--underline-color: currentcolor;
		--active-color: var(--color-link);

		will-change: background-size;

		display: inline;

		background-image: linear-gradient(to right, var(--underline-color), var(--underline-color));
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 0 var(--underline-height, 1px);

		transition-timing-function: var(--easing);
		transition-duration: calc(0.75 * var(--duration)), var(--duration);
		transition-property: color, background-size;

		&:is([aria-current]:not([aria-current='false']), [data-current]:not([data-current='false'])),
		&:hover {
			--duration: 200ms;
			--easing: var(--ease-out);

			color: var(--active-color);
			background-size: 100% var(--underline-height, 1px);
		}

		@variant not-disabled {
			&:focus-visible {
				outline: 1.5px solid var(--color-outline-focus);
				outline-offset: 1px;
			}
		}
	}
}

@utility c-btn {
	@layer components {
		--duration: 200ms;
		--easing: var(--ease-in);

		cursor: pointer;

		position: relative;

		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
		border: 1.5px solid currentcolor;

		transition-timing-function: var(--easing);
		transition-duration: var(--duration);
		transition-property: transform, opacity, background-color, color, border-color;

		&:is(:disabled, [disabled]:not([disabled='false'])),
		&:has(input:disabled) {
			cursor: not-allowed;
			opacity: 0.5;
		}

		@variant hover {
			--duration: 120ms;
			--easing: var(--ease-out);
		}

		@variant active {
			--duration: 40ms;
		}

		@variant not-disabled {
			&:focus-visible,
			&:is(label):has(input:focus-visible) {
				border-color: var(--color-outline-focus);
				outline: 1.5px solid var(--color-outline-focus);
				outline-offset: 1px;
			}
		}

		&:is([data-delayed]:not([data-delayed='false'])),
		&:is([data-timeout]:not([data-timeout='false'])) {
			cursor: wait;

			&::after {
				content: '';

				position: absolute;
				z-index: 2;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				aspect-ratio: 1/1;
				width: 1.5rem;
				height: auto;

				background-color: currentcolor;

				mask-image: var(--svg);
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: 100%;
			}

			& > * {
				opacity: 0.1;
			}
		}

		&:is([data-delayed]:not([data-delayed='false'])) {
			--svg: url('../../assets/images/animated-spinner.svg?no-inline');
		}

		&:is([data-timeout]:not([data-timeout='false'])) {
			--svg: url('../../assets/images/animated-three-dots.svg?no-inline');
		}

		/*
		```html
		<button class="c-btn">
			<i class="i i-[ph--info] h-6 w-6"></i>
			<span>Click me</span>
		</button>
		```
	*/
		&:not(.c-btn--icon):has(:is(img, svg, .i)) {
			display: grid;
			grid-template-columns: auto auto;
			column-gap: calc(var(--spacing) * 3);
			align-items: center;
			justify-content: space-between;

			padding-inline: calc(var(--spacing) * 2.5) calc(var(--spacing) * 3);

			&:has(> :last-child:nth-child(3)) {
				grid-template-columns: auto 1fr auto;
			}
		}

		&:not(:has(:is(img, svg, .i))) {
			text-align: center;
		}

		&:not(.c-btn--pop, .c-btn--outlined, .c-btn--icon) {
			border-color: var(--color-on-surface);
			color: var(--color-surface);
			background-color: var(--color-on-surface);

			&:not(:is(:disabled, [disabled]:not([disabled='false'])), :has(input:disabled)) {
				@variant hover {
					/* FIXME: make sure this work in both light/dark mode */
					background-color: oklch(from var(--color-on-surface) calc(l - 0.08) c h);
				}

				@variant active {
					/* FIXME: make sure this work in both light/dark mode */
					background-color: oklch(from var(--color-on-surface) calc(l - 0.04) c h);
				}
			}
		}
	}
}

@layer base {
	html {
		border-color: var(--color-outline);
		font-family: var(--font-inter);
		color: var(--color-on-surface);
		background-color: var(--color-surface);
	}

	body {
		position: relative;

		display: flex;
		flex-direction: column;

		min-height: 100vh;
		min-height: 100dvh;
	}

	* {
		border-color: inherit;
	}

	mark {
		color: var(--color-info-on-surface);
		background-color: var(--color-info-surface);
	}

	button,
	input {
		padding-block: 0;
		padding-inline: 0;
		border-color: transparent;
		border-radius: 0;

		color: inherit;

		background-color: transparent;
	}

	button:focus-visible:not(:disabled),
	label:has(input:focus-visible):not(:disabled) {
		outline: 1.5px solid var(--color-outline-focus);
		outline-offset: 1px;
	}

	*[id] {
		scroll-margin: calc(1.5 * var(--spacing-header));
	}

	img {
		object-fit: cover;
	}

	kbd {
		padding: 0.1875rem 0.25rem;
		border: 1px solid var(--color-outline);
		border-bottom-width: 2px;

		text-decoration: none;

		background-color: var(--color-surface-subtle);
	}

	/* prevent white-on-white option on chrome (as of 2025.06.11) */
	option {
		background-color: var(--color-surface);
	}

	:target:is(h1, h2, h3, h4, h5, h6) {
		color: var(--color-info-on-surface);
		background-color: var(--color-info-surface);
	}
}

@layer base {
	:root {
		/* global padding strategy for common container */
		--pad-max-width: 100vw;
		--pad-min-padding-x: 1rem; /* 16px */
		--pad-padding-x: max(var(--pad-min-padding-x), calc((100vw - var(--pad-max-width)) / 2));

		@media (--tablet) {
			--pad-min-padding-x: 2rem; /* 32px */
		}

		@media (--desktop) {
			--pad-min-padding-x: 5rem; /* 80px */
			--pad-max-width: 64rem; /* 1024px */
		}

		@media (--widescreen) {
			--pad-min-padding-x: 10rem; /* 160px */
			--pad-max-width: 90rem; /* 1440px */
		}
	}
}

@utility max-w-pad {
	max-width: 100vw;
	padding-right: var(--pad-padding-x);
	padding-left: var(--pad-padding-x);
}

@utility max-w-pad-content {
	max-width: calc(var(--pad-max-width) - (var(--pad-min-padding-x) * 2));
}

/* ======================================================================== */
@utility text-ai {
	font-family: var(--font-lora);
}
